.room-nav {
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: var(--clr-navbar-bg);
  z-index: -1000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 3rem;

  @media (max-width: 47rem) {
    margin-top: 4rem;
  }

  &__option {
    border-radius: 0.4rem;
    cursor: pointer;
    min-width: 5rem;
    padding: 0 0.5rem;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__option:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__option.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#current-room {
  position: fixed;
  margin-top: 3rem;
  height: calc(100% - 3rem);
  display: flex;

  @media (max-width: 47rem) {
    position: absolute;
    flex-direction: column;
  }
}

#switches {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
  padding: 2rem;

  @media (max-width: 47rem) {
    width: 100%;
  }

  .switch-outer {
    height: 3rem;
    min-width: 20rem;
    border-radius: 0.3rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
  }
}

#cameras {
  width: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 47rem) {
    width: 100%;
    padding: 0;
  }

  .camera {
    width: 90%;
    min-width: 10rem;

    @media (max-width: 47rem) {
      min-width: 10rem;
    }

    height: 14rem;
    border-radius: 0.4rem;
  }
}
