#current-room {
  display: flex;
}

.room-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  padding-left: 2rem;

  &__option {
    padding: 0.5rem 0.7rem;
    min-width: 5rem;
    text-align: center;
    border-radius: .4rem;
    cursor: pointer;
  }

  &__option.active,
  &__option:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

