@use 'sass:color';

$text-color: #fff;
@use '@material/theme/index' as theme with (
  $background: #121212,
  $surface: #121212,
  $on-surface: color.change($text-color, $alpha: 0.87),
  $error: #cf6679,
);
@use '@material/theme/color-palette' as colors;
@use '../fixes';

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

:root {
  --clr-text: #{theme.$on-surface};
  --clr-text-hint: #{color.change($text-color, $alpha: 0.6)};
  --clr-text-disabled: #{color.change($text-color, $alpha: 0.38)};
  --clr-error: #{theme.$error};
  --clr-warn: #{colors.$yellow-400};
  --clr-success: #{colors.$light-green-a200};
  --clr-priority-low: #{colors.$grey-600};
  --clr-priority-medium: #{colors.$light-blue-a200};
}
