@use 'sass:color';

@use '@material/theme/index' as theme with (
  $background: #121212,
  $surface: #121212,
  $error: #cf6679,
);

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}
