@use 'sass' as *;

@use '@material/button/styles';
@use '@material/ripple';
$font-path: '/external/webfonts';
@use '@fortawesome/fontawesome-free/scss/fontawesome' with ( $fa-font-path: $font-path );
@use '@fortawesome/fontawesome-free/scss/solid' with ( $fa-font-path: $font-path );

.mdc-button {
    overflow: hidden;
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states;
}

:root {
    --clr-bg-800: hsl(210, 5%, 25%);
    --clr-bg-700: hsl(210, 5%, 21%);
    --clr-bg-600: hsl(210, 5%, 17%);
    --clr-bg-500: hsl(210, 5%, 13%);
    --clr-bg-400: hsl(210, 5%, 9%);
    --clr-bg-300: hsl(210, 5%, 5%);
    --clr-bg: var(--clr-bg-400);
    --clr-bg-dark: var(--clr-bg-300);

    --clr-error: #ff61bd;
    --clr-warn: #ffda61;
    --clr-success: #88ff70;
    --clr-primary: #88ff70;
    --clr-text: #ccc;
    --clr-text-faint: #949494;
    --clr-text-on-primary: #222;
    --clr-hover: #ffffff1a;

    --clr-fake-text-light: #ffffff1a;
    --clr-fake-text: #0000001a;
    --clr-fake-text-dark: #0003;
}

.nav { --clr-bg: var(--clr-bg-600); }
.notification {
    --clr-bg: var(--clr-bg-800);
    --clr-bg-dark: var(--clr-bg-700);
}
.notifications { --clr-bg: var(--clr-bg-500); }

body {
    background-color: var(--clr-bg);
    margin: 0;
}

h1, h2, h3, h4, div, span {
    color: var(--clr-text);
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

// Elevations
.zeroDp { @include zero-dp; }
.oneDp { @include one-dp; }
.twoDp { @include two-dp; }
.threeDp { @include three-dp; }
.fourDp { @include four-dp; }
.sixDp { @include six-dp; }
.eightDp { @include eight-dp; }
.nineDp { @include nine-dp; }
.twelveDp { @include twelve-dp; }
.sixTeenDp { @include sixteen-dp; }
.twentyFourDp { @include twenty-four-dp; }

// Scrollbar
*::-webkit-scrollbar {
    background-color: rgb(71, 71, 71);
    width: 16px;
}

*::-webkit-scrollbar-track {
    background-color: rgb(51, 51, 51);
}

*::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 16px;
    border: 4px solid #3a3b3c;
}
