.nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 13rem;
    user-select: none;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    transition-property: width, height;
    transition-duration: .3s;

    &.closed { width: 5.125rem; }

    &__bg {
        position: absolute;
        inset: 0;
        background-color: var(--clr-bg);
    }

    &__toggle {
        position: absolute;
        right: 0;
        top: 2.2rem;
        color: var(--clr-text);
        background-color: var(--clr-hover);
        border-radius: 50%;
        cursor: pointer;
        height: 1.5625rem;
        aspect-ratio: 1;
        transform: translateX(50%);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: .8rem;
            padding-block-start: .1rem;
            transform: rotate(180deg);
            transition: transform .3s;

            .nav.closed & { transform: rotate(0deg); }
        }
    }

    &__header {
        position: relative;
        display: flex;
        align-items: center;
        gap: .6rem;
        padding-block: .5rem;
        padding-left: .4rem;
        cursor: pointer;
        overflow-x: hidden;

        &__avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            aspect-ratio: 1;
            height: 2.5rem;
        }
        &__texts {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            pointer-events: none;

            &__full { font-weight: 600; }
        }
    }

    &__bell {
        position: relative;
        overflow-x: hidden;
        border-radius: .4rem;
        display: flex;
        align-items: center;
        gap: .3rem;
        height: 3.125rem;
        cursor: pointer;
        transition: background-color .2s;

        &:hover { background-color: var(--clr-hover); }

        &__icon {
            height: 100%;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &__i {
                font-size: 1.25rem;
                position: relative;

                &__indicator {
                    position: absolute;
                    font-size: .6rem;
                    border-radius: 50%;
                    background-color: var(--clr-primary);
                    height: .8rem;
                    aspect-ratio: 1;
                    padding: .1rem;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span { color: var(--clr-text-on-primary); }
                }
            }
        }
    }

    &__menubar {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow-x: hidden;
        flex-grow: 1;
        padding-top: 1rem;

        &__item {
            height: 3.125rem;
            display: flex;
            align-items: center;
            gap: .3rem;
            text-decoration: none;
            color: var(--clr-text);
            margin-top: .625rem;
            border-radius: .4rem;
            transition: background-color .2s;

            &:hover, &.active { background-color: var(--clr-hover); }

            i {
                height: 100%;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
            }
        }
    }
}

.notifications {
    width: 25rem;
    z-index: -10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    background-color: var(--clr-bg);
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;

    &.hidden { transform: translateX(0%); }

    &__delete {
        cursor: pointer;
        font-size: .9rem;
        margin-left: auto;

        &:not(.dummy):hover { text-decoration: underline; }

        &.dummy {
            cursor: default;
            height: 1.1875rem;
            width: 5rem;
            background-color: var(--clr-fake-text-light);
            flex-shrink: 0;
        }
    }
    &__check {
        font-size: 3rem;
        margin-top: 3rem;
    }
    &__check, &__check-text {
        opacity: 0;
        transition: opacity .2s;
    }
}

.notification {
    background-color: var(--clr-bg);
    border-radius: .3rem;
    padding: 1rem;
    white-space: normal;
    position: relative;
    transition: transform .2s;
    width: 100%;
    box-sizing: border-box;

    &.dummy {
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-name: loading;

        .notification__title {
            background-color: var(--clr-fake-text-dark);
            height: 1.4rem;
            width: 5rem;
            margin-bottom: 1rem;
        }

        .notification__desc {
            background-color: var(--clr-fake-text);
            height: 1rem;
            width: 100%;
            margin-bottom: .5rem;
            &.small { width: 90%; }
        }

        .notification__time {
            background-color: var(--clr-fake-text-dark);
            height: .6rem;
            width: 6rem;
            margin-top: 1rem;
        }
    }

    &__line {
        position: absolute;
        border-radius: .3rem;
        overflow: hidden;
        inset: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: .3rem;
            background-color: var(--clr-priority);
        }
    }
    h3 { margin: 0; }
    p { font-weight: 400; }
    &__time {
        font-size: .7rem;
        color: var(--clr-text-faint);
    }
    &__delete {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        &:hover { color: var(--clr-error); }
    }
}

@keyframes loading {
    0% { background-color: var(--clr-bg); }
    50% { background-color: var(--clr-bg-dark); }
    100% { background-color: var(--clr-bg); }
}
