.avatar-upload-dialog {
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30rem;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: .4s;
}

.avatar-upload-dialog > .preview {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar-upload-dialog > .avatar-button-div {
    display: flex;
    gap: 1rem;
}