@use 'sass:color';

@use '@material/theme/color-palette' as colors;
@use '@material/theme/index' as theme with (
  $background: #fff,
  $surface: #fff,
  $error: #b00020,
);

@use './fixes';

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

:root {
  --clr-text: #{theme.$on-surface};
  --clr-error: #{theme.$error};
  --clr-warn: #{colors.$amber-a700};
  --clr-success: #{colors.$green-a700};
}
