@use 'sass:color';
@use 'sass:map';
@use 'sass:list';

@use '@material/typography';
@use '@material/elevation/styles';
@use 'material-icons/iconfont/filled.css';

$material-symbols-font-path: 'material-symbols/';
@import 'material-symbols/rounded.scss';

$elevations: (
    0: 0%,
    1: 5%,
    2: 7%,
    3: 8%,
    4: 9%,
    6: 11%,
    8: 12%,
    12: 14%,
    16: 15%,
    24: 16%,
);
@mixin elevation-colors($color-base, $color-overlay) {
    @each $elevation1, $overlay1 in $elevations {
        $base: color.mix($color-overlay, $color-base, $overlay1);
        @each $elevation2, $overlay2 in $elevations {
            --clr-height-#{$elevation1}-#{$elevation2}: #{color.mix($color-overlay, $base, $overlay2)};
        }
    }
}

:root {
    --clr-primary-dark: #88ff70;
    --clr-on-primary-dark: #121212;
    --clr-primary-light: #2E7D32; // Green 800
    --clr-on-primary-light: #ffffff;
    --clr-primary: var(--clr-primary-dark);
    --clr-on-primary: var(--clr-on-primary-dark);
    --clr-hover: #ffffff1a;

    --mdc-dialog-z-index: 200;

    --icon-size: 1.5rem;

    @include elevation-colors(#121212, #fff);

    &.light-theme {
        --clr-primary: var(--clr-primary-light);
        --clr-on-primary: var(--clr-on-primary-light);
        --clr-hover: #0000001a;
        @include elevation-colors(#fff, #121212);
    }

    --mdc-theme-primary: var(--clr-primary);
    --mdc-theme-on-primary: var(--clr-on-primary);
}

// Snackbar z-index
.mdc-snackbar { z-index: 200; }
// Snackbar actions primary color
.mdc-snackbar__actions {
    --mdc-theme-primary: var(--clr-primary-light);
    :root.light-theme & { --mdc-theme-primary: var(--clr-primary-dark); }
}

// Circular progress default size
.mdc-circular-progress {
    height: 1.5rem;
    width: 1.5rem;
}

body { margin: 0; }


.text-hint { color: var(--clr-text-hint); }
.text-disabled { color: var(--clr-text-disabled); }
html { @include typography.typography('body1'); }
h1 { @include typography.typography('headline1'); }
h2 { @include typography.typography('headline2'); }
h3 { @include typography.typography('headline3'); }
h4 { @include typography.typography('headline4'); }
h5 { @include typography.typography('headline5'); }
h6 { @include typography.typography('headline6'); }
caption { @include typography.typography('caption'); }
// subtitle1
// subtitle2
// body2
// button
// overline

code, pre { font-family: 'Roboto Mono', monospace; }
small { font-size: 0.9em; }
big { font-size: 1.1em; }
b, strong { font-weight: bold; }

// Scrollbar
:root:not(.light-theme) {
    *::-webkit-scrollbar {
        background-color: rgb(71, 71, 71);
        width: 16px;
    }
    *::-webkit-scrollbar-track {
        background-color: rgb(51, 51, 51);
    }
    *::-webkit-scrollbar-thumb {
        background-color: #727272;
        border-radius: 16px;
        border: 4px solid #3a3b3c;
    }
}
