/* Normal Buttons */
.button {
  background-color: var(--clr-primary);
  border: none;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover {
  opacity: 60%;
}

.button > a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.button {
  color: white;
}

@media (max-width: 47.5rem) {
  .button {
    padding: 4px 6px;
    font-size: 0.8rem;
    min-width: 40px;
  }
}
